<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/foundation.css" />
	<script src="js/vendor/modernizr.js"></script>
	<link rel="stylesheet" href="css/twitter.css" />
</head>
<body>
<nav class="top-bar" data-topbar>
	<ul class="title-area">

		<li class="name">
			<h1>
				<a href="#">
					Top Places on Foursquare
				</a>
			</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">
			<li class="divider"></li>
			<li class="divider"></li>
			<li><a href="/">Home</a></li>
			<li class="divider"></li>
			<li><a href="/insta">Instagram</a></li>
			<li class="divider"></li>
			<li><a href="/twitter">Twitter</a></li>
		</ul>
	</section>
</nav>

{{#each checkins}}

<div class="large-4 columns">
	<div class="panel" style="border-radius: 5px; background-color: #ffffff; color: #000000; border: dashed; border-width: 1px; background-opacity:60%;">
		<h4 style="align-self: center; color: #210B61">{{name}}</h4>
		{{fullAddress}}
		<h4 style="color: #29088A">Checkin details</h4>
		City: {{city}}
		State: {{state}}
		Zip: {{zipCode}}
		<h4 style="color: #3104B4">Checkin Stats</h4>
		No. of checkins: {{checkinsCounts}}
		No. of users checking in: {{usersCount}}
		</div>
	</div>
</div>

{{/each}}

<footer class="row">
	<div class="large-12 columns">
		<hr/>
		<div class="row">
			<div class="large-6 columns">
				<p>© Copyright no one at all. Go to town.</p>
			</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><a href="#">Section 1</a></li>
					<li><a href="#">Section 2</a></li>
					<li><a href="#">Section 3</a></li>
					<li><a href="#">Section 4</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</body>
</html>