<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/foundation.css" />
	<script src="js/vendor/modernizr.js"></script>
	<link rel="stylesheet" href="css/twitter.css" />
</head>
<body>
<nav class="top-bar" data-topbar>
	<ul class="title-area">

		<li class="name">
			<h1>
				<a href="#">
					Top Trends on Twitter
				</a>
			</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">
			<li class="divider"></li>
			<li class="divider"></li>
			<li><a href="/">Home</a></li>
			<li class="divider"></li>
			<li><a href="/insta">Instagram</a></li>
			<li class="divider"></li>
			<li><a href="/foursquare">Foursquare</a></li>
		</ul>
	</section>
</nav>


{{#each tweets}}

<div class="large-3 columns">
	<div class="panel" style="background-color: #fef9ff;border-radius: 5px">
		<h5><a style="color: #080808" href={{url}}>{{name}}</a></h5>
	</div>
</div>

{{/each}}


<footer class="row">
	<div class="large-12 columns">
		<hr/>
		<div class="row">
			<div class="large-6 columns">
				<p>© Copyright no one at all. Go to town.</p>
			</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><a href="#">Section 1</a></li>
					<li><a href="#">Section 2</a></li>
					<li><a href="#">Section 3</a></li>
					<li><a href="#">Section 4</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</body>
</html>